/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    background: #2d2d2a;
    color: #fffbfe;
}
ol,
ul {
    list-style: none;
}
/* END CSS RESET */

main {
    margin: 96px 64px;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    background: #e6af2e;
    color: #2d2d2a;
    height: 48px;
    padding: 8px;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

dialog {
    position: relative;

    background: #fafafa;
    border-radius: 0.5rem;
    padding: 2rem;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

dialog:not([open]) {
    display: none;
}

dialog[open] {
    display: block;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 16px;
}

p {
    font-weight: bold;
}

span {
    font-weight: normal;
}
